[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	editor = vim
	excludesFile = ~/.gitignore_global
	pager = delta
[commit]
	gpgsign = {{ .gpgsign }}
[alias]
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	ll = log --oneline
	st = status
	semantic-commit = "!f() { git commit -m \"$(git diff --staged | llm -t semantic_commit)\"; }; f"
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[pager]
	branch = false
[rerere]
	enabled = true
[rebase]
	autostash = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = zdiff3
