[user]
	email = {{ .email }}
	name = Jerry Ng
[core]
	editor = vim
[commit]
	gpgsign = {{ .gpgsign }}
[alias]
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
[pull]
	rebase = true