[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	editor = vim
	excludesFile = ~/.gitignore_global
[commit]
	gpgsign = {{ .gpgsign }}
[alias]
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	ll = log --oneline
	st = status
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
    prune = true
[pager]
	branch = false
[rerere]
	enabled = true
[rebase]
	autostash = true
